$font_h: "Montserrat", sans-serif;
$font_text: "Open Sans", sans-serif;

$text_color_m: #333;
$main_color: #ff0000;
$blur_color: #fff;
$fon_color_w: #fff;
$fon_color_b: linear-gradient(51.76deg, #4c5c66 0%, #35434d 100%);
$gradien_back_w: linear-gradient(180deg, #ffffff 70, #ebebeb 100%);

$blur_bac_1: url(img/bac1.jpg);
$blur_bac_2: url(img/bac2.jpg);
$blur_bac_3: url(img/background3.jpg);
$blur_bac_4: url(img/background4.jpg);

$blur_bac_1_960: url(img/bac1.jpg);
$blur_bac_2_960: url(img/bac2.jpg);
$blur_bac_3_960: url(img/background3.jpg);
$blur_bac_4_960: url(img/background4.jpg);

$column_1: 72px;
$column_2: 174px;
$column_3: 276px;
$column_4: 378px;
$column_5: 480px;
$column_6: 582px;
$column_7: 684px;
$column_8: 786px;
$column_9: 888px;
$column_10: 990px;
$column_11: 1092px;
$column_12: 1194px;

$column_1_1200: 63px;
$column_2_1200: 165px;
$column_3_1200: 249px;
$column_4_1200: 342px;
$column_5_1200: 435px;
$column_6_1200: 528px;
$column_7_1200: 621px;
$column_8_1200: 714px;
$column_9_1200: 807px;
$column_10_1200: 900px;

$column_1_960: 67px;
$column_2_960: 154px;
$column_3_960: 241px;
$column_4_960: 328px;
$column_5_960: 415px;
$column_6_960: 502px;
$column_7_960: 589px;
$column_8_960: 676px;

$column_1_716: 67px;
$column_2_716: 154px;
$column_3_716: 241px;
$column_4_716: 328px;
$column_5_716: 415px;
$column_6_716: 502px;
$column_7_716: 589px;
$column_8_716: 676px;
